<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
	<link rel="shortcut icon" th:href="@{/img/books-svgrepo-com 1.svg}">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="	@{/css/bootstrap.min.css}" rel="stylesheet" />
	<script th:href="@{/js/bootstrap.bundle.min.js}"></script>

	<title>Cadastrar Usuário - LH Library Management</title>

	<style>
		.mensagem {
			color: red;
		}
	</style>
</head>

<body>
	<div class="wrapper">
		<div th:insert="~{fragments/menu-usuarios :: menu-usuarios}"></div>
		<div class="main p-3">
			<section class="d-block">
				<h1 class="m-3 fs-1 roboto-bold">
					<span><img th:src="@{/img/books-svgrepo-com 1.svg}" alt="Logo LH Library Management" /></span>
					Cadastrar Usuário
				</h1>
				<div class="container p-4 mt-2">
					<div class="row">
						<div class="col-md-6 bg-light shadow p-4 mb-5">
							<form th:action="@{/usuario/cadastrar}" th:object="${usuario}" method="post">
								<div class="mb-3">
									<label for="inputNomeUsuario" class="form-label">Nome</label>
									<input type="text" class="form-control" id="inputNomeUsuario"
										placeholder="Digite o nome do usuário" th:field="*{nome}" />
									<div class="col">
										<span class="mensagem" th:if="${#fields.hasErrors('nome')}"
											th:errors="*{nome}"></span>
									</div>
								</div>
								<div class="mb-3">
									<label for="inputLoginUsuario" class="form-label">Login</label>
									<input type="text" class="form-control" id="inputLoginUsuario"
										placeholder="Digite o login do usuário" th:field="*{login}" />
									<span class="mensagem" th:if="${#fields.hasErrors('login')}"
										th:errors="*{login}"></span>
								</div>
								<div class="mb-3">
									<label for="inputSenhaUsuario" class="form-label">Senha</label>
									<input type="password" class="form-control" id="inputSenhaUsuario"
										placeholder="Digite a senha do usuário" th:field="*{senha}" />
									<span class="mensagem" th:if="${#fields.hasErrors('senha')}"
										th:errors="*{senha}"></span>
								</div>
								<div>
									<button type="submit" class="btn btn-primary">
										Cadastrar
									</button>
								</div>
							</form>
						</div>

					</div>
				</div>
		</div>
		</section>
	</div>
	</div>
	<script th:src="@{/js/script.js}"></script>
</body>

</html>