<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
	<link rel="shortcut icon" th:href="@{/img/books-svgrepo-com 1.svg}">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="	@{/css/bootstrap.min.css}" rel="stylesheet" />
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<title>Editar Livro - LH Library Management</title>
</head>

<body>
	<div class="wrapper">
		<div th:insert="~{fragments/menu-usuarios :: menu-usuarios}"></div>
		<div class="main p-3">
			<div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
				<span th:text="${mensagem}"></span>
			</div>
			<section class="d-block">
				<h1 class="m-3 fs-1 roboto-bold">
					<span><img th:src="@{/img/books-svgrepo-com 1.svg}" alt="Logo LH Library Management" /></span>
					Editar Livros
				</h1>
				<div class="container p-4 mt-2">
					<div class="row">
						<div class="col-md-6 bg-light shadow p-4 mb-5">
							<form th:action="@{/livro/editar/{id}(id=${livro.id})}" method="post" th:object="${livro}">
								<div class="row mb-3">
									<div class="col-sm">
										<label for="inputTitulo" class="form-label">Título do Livro *  </label>
										<input type="text" class="form-control" id="inputTitulo"
											placeholder="Digite o título do livro" th:field="*{titulo}" name="tiulo"
											maxlength="100" />
										<span class="mensagem" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm">
										<label for="inputCategoria" class="form-label">Categoria</label>
										<select class="form-select" id="inputCategoria" name="categoria">
											<option th:each="categoria : ${categoriasList}" th:value="${categoria.id}"
												th:text="${categoria.nome}"
												th:selected="${categoria.id} == ${livro?.categoria?.id}">
											</option>
										</select>
									</div>
									<div class="col-sm">
										<label for="inputIsbn" class="form-label">ISBN *  </label>
										<input type="text" class="form-control" id="inputIsbn"
											placeholder="Digite o numero do isbn" th:field="*{isbn}" name="isbn"
											maxlength="14" OnKeyPress="formatar('###-##########',this)" />
										<span class="mensagem" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
										<span class="mensagem" th:if="${isbnExistente}" th:text="${isbnExistente}"></span>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm">
										<label for="inputAutor" class="form-label">Autor *  </label>
										<span class="mensagem" th:if="${#fields.hasErrors('autor')}"
											th:errors="*{autor}"></span>
										<input type="text" class="form-control" id="inputAutor"
											placeholder="Digite o nome do autor" th:field="*{autor}" name="autor"
											maxlength="65" />
									</div>
									<div class="col-sm">
										<label for="inputEditora" class="form-label">Editora *  </label>
										<input type="text" class="form-control" id="inputEditora"
											placeholder="Digite o nome da editora" th:field="*{editora}" name="editora"
											maxlength="65" />
										<span class="mensagem" th:if="${#fields.hasErrors('editora')}" th:errors="*{editora}"></span>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm">
										<label for="inputSetorLivro" class="form-label">Idioma</label>
										<select class="form-select" id="inputIdiomaLivro" name="idioma">
											<option th:each="idioma : ${idiomasList}" th:value="${idioma.id}"
												th:text="${idioma.descricao}"
												th:selected="${idioma.id} == ${livro?.idioma?.id}"></option>
										</select>
									</div>
									<div class="col-sm">
										<label for="inputSetorLivro" class="form-label">Setor</label>
										<select class="form-select" id="inputSetorLivro" name="setor">
											<option th:each="setor : ${setoresList}" th:value="${setor.id}"
												th:text="${setor.nome}"
												th:selected="${setor.id} == ${livro?.setor?.id}">
											</option>
										</select>
									</div>
								</div>
								<button type="submit" class="btn btn-primary">
									Atualizar
								</button>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<script th:src="@{/js/script.js}"></script>
</body>

</html>