<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
	<link rel="shortcut icon" th:href="@{/img/books-svgrepo-com 1.svg}">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="	@{/css/bootstrap.min.css}" rel="stylesheet" />
	<script th:href="@{/js/bootstrap.bundle.min.js}"></script>
	<title>Editar Categoria - LH Library Management</title>
	<style>
		.mensagem {
			color: red;
		}
	</style>
</head>

<body>
	<div class="wrapper">
		<div th:insert="~{fragments/menu-usuarios :: menu-usuarios}"></div>

		<div class="main p-3">
			<div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
				<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
				<span th:text="${mensagem}"></span>
			</div>
			<section class="d-block">
				<h1 class="m-3 fs-1 roboto-bold"> <span><img th:src="@{/img/books-svgrepo-com 1.svg}" alt=""></span>
					Editar
					Categoria</h1>
				<div class="container p-4 mt-2 ">
					<div class="row">
						<div class="col-md-6 bg-light p-4 shadow">
							<form th:action="@{/categoria/editar/{id}(id=${categoria.id})}" th:object="${categoria}"
								method="post">
								<div class="row mb-3">
									<div class="col-9">
										<label for="inputNome" class="form-label">Nome da Categoria *</label>
										<input type="text" class="form-control" id="inputCategoria"
											placeholder="Digite o nome da categoria" name="nome" th:field="*{nome}">
									</div>
									<div class="col-sm-15">
										<span class="mensagem" th:if="${#fields.hasErrors('nome')}"
											th:errors="*{nome}"></span>
										<span class="mensagem" th:if="${categoriaExistente}"
											th:text="${categoriaExistente}"></span>
									</div>
								</div>
								<button type="submit"
									class="btn btn-primary align-self-end ms-2 mt-2">Atualizar</button>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<script src="@{/js/script.js}"></script>
</body>

</html>