<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
	<link rel="shortcut icon" th:href="@{/img/books-svgrepo-com 1.svg}">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="	@{/css/bootstrap.min.css}" rel="stylesheet" />
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<title>Registrar Emprestimo - LH Library Management</title>
</head>

<body>
	<div class="wrapper">
		<div th:insert="~{fragments/menu-usuarios :: menu-usuarios}"></div>
		<div class="main p-3">
			<div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
				<span th:text="${mensagem}"></span>
			</div>
			<section class="d-block">
				<h1 class="m-3 fs-1 roboto-bold">
					<span><img th:src="@{/img/books-svgrepo-com 1.svg}" alt="Logo LH Library Management" /></span>
					Registrar Empréstimo
				</h1>
				<div class="container p-4 mt-2">
					<div class="row">
						<div class="col-md-6 bg-light shadow p-4 mb-5">
							<form th:action="@{/emprestimo/cadastrar}" method="post" th:object="${emprestimo}">
								<div class="mb-3">
									<label for="inputLivro" class="form-label">Titulo do Livro *</label>
									<select class="form-select" id="inputLivro" name="livro" th:field="*{livro}">
										<option value="">Escolha um Livro</option>
										<option th:each="livro : ${livros}" th:value="${livro.id}"
											th:text="${livro.titulo}"></option>
									</select>
									<span class="mensagem" th:if="${#fields.hasErrors('livro')}"
										th:errors="*{livro}"></span>
								</div>
								<div class="mb-3">
									<label for="inputMembro" class="form-label">Nome do Membro *</label>
									<select class="form-select" id="inputMembro" name="membro" th:field="*{membro}">
										<option value="">Escolha um Membro</option>
										<option th:each="membro : ${membros}" th:value="${membro.id}"
											th:text="${membro.nome}"></option>
									</select>
									<span class="mensagem" th:if="${#fields.hasErrors('membro')}"
										th:errors="*{membro}"></span>
								</div>
								<div class="row mb-3">
									<div class="col-sm">
										<label for="inputDataEmprestimo" class="form-label">Data de emprestimo</label>
										<input type="text" class="form-control" id="inputDataEmprestimo"
											name="dataEmprestimo" th:field="*{dataEmprestimo}" disabled>
									</div>
									<div class="col-sm">
										<label for="inputDataPrevista" class="form-label">Data Prevista para
											devolução</label>
										<input type="text" class="form-control" id="inputDataPrevista"
											name="dataPrevista" th:field="*{dataPrevista}" disabled>
									</div>
								</div>
								<button type="submit" class="btn btn-primary">
									Registrar
								</button>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<script th:src="@{/js/script.js}"></script>
</body>

</html>